.navbar {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-right: auto;
  font-size: 20px;
  margin-left: 20px;
}

.website{
  text-decoration: none;
}

.nav-login {
  margin-left: 30px;
  margin-top: 6px;
}

@media (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
  }
  .nav-title{
    display: none;
  }

}